@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    @{
        <!--Setup our strings in the view, so we can pass them to the Html.Raw method. 
            This lets you display strings as HTML, instead of them being encoded as text-->
        string searchterm = @ViewData["searchterm"].ToString();
        string color = @ViewData["highlightcolor"].ToString();
        <!--Call the helper method found in RegexHelp.cs-->
        string displaystring = @ViewData["temp"].ToString().HighlightKeyWords(searchterm, color, true);
        <div> @Html.Raw(displaystring) </div>
      
    }

</div>